.todo-list-container {
    display: flex;
    flex-direction: column;
    flex: 1;

    .todo-list {
        flex: 1;
        background-color: aqua;
        display: flex;
        flex-wrap: wrap;
        padding: 10px;

        .todo-item {
            margin-right: 10px;
        }

    }
}